<!DOCTYPE html>
  <head>
    <title>Gabble</title>
      <meta charset="utf-8">
        <link href="gabble.css" rel="stylesheet">
  </head>
  <body>







    <script src="gabble.js" type="text/JavaScript"></script>
  </body>
