<!DOCTYPE html>
<html>

<head>
  <title>GabbleHomePage</title>
  <meta charset="utf-8">
  <link href="gabble.css" rel="stylesheet">
</head>
<body>
  <h3>Gabble</h3>
      <a href="gabblehomepage.mustache">Gabble</a>
      <a href="newgabble.html">Create a new gab</a>
      <a href="login.html">Logged in as</a>
      <a href="signup.html">Sign Up</a>




  <script src="gabble.js" type="text/JavaScript"></script>
</body>

</html>
